################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CooperGame
/.vs
/obj/Release/net8.0
/.gitignore
	




