@{
    Layout = null;
}

<div class="modal fade" id="modalMadera" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header border-0">
                <h5 class="modal-title">Minijuego de Matemáticas</h5>
                <button type="button" class="btn-close btn-close-white btn-cancelar"></button>
            </div>
            <div class="modal-body text-center">
                <p id="temporizadorMadera" class="mb-3">⏳ 60s</p>
                <h3 id="numerosMadera">?</h3>
                <input type="text" id="campoRespuestaMadera" class="form-control mt-3" placeholder="Ingresa la suma">
                <button id="botonEnviarMadera" class="btn btn-success mt-3 w-50">Enviar</button>
                <small id="mensajeMadera" class="mt-2 d-block" style="display:none;"></small>
            </div>
            <div class="modal-footer border-0 justify-content-center">
                <button type="button" class="btn btn-secondary btn-cancelar">Cancelar</button>
            </div>
        </div>
    </div>
</div>
